.main{
    display:flex;
 justify-content: flex-end;
 align-items: center;
}
img{
    height:700px;
    width: 90%;
    position: relative;
    bottom: -70px;
}
hr{
    height: 1px;
    position: relative;
    bottom:-23px;
    width: 100%;
    background:grey;
}
.name{
    font-size: 30px;
    font-style: bold;
    margin-top:20px;
}
.one-part{
    width: 50%;
    height: 100%;
    align-self: center;
    justify-self: flex-end;
}
.details{
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
}

select{
    width:100%;
    border:none;
    bottom:0;
    left: 0;
    padding-left: 90px;
    padding-bottom: 13px;
    position:absolute;
    outline: none;
    background: transparent;
    border-bottom: 1px solid gray;
}

.form-element{
    position: relative;
    padding: 15px;
}

.select-lebel{
position: relative;
/* left: 20px; */
right:-100px;
color:gray;
}

select:focus ~.blink{
width:100%;
left:0;
}
.blink{
    position:absolute;
    background-color:black;
    width:0;
    left:50%;
    bottom: 0;
    height: 2px;
    transition: 0.1s;
}
.add-btn {
    border: 2px solid black;
    width: 30%;
    padding: 10px;
}

.text-content{
    margin-top: 20px;
}

.text-content-light{
    margin-top: 20px;
    color: gray;
}
p, ul{
    padding: 12px;
    width: 100%;
    color:grey;
}

.select-lebel{
    position: relative;
    bottom: -10px;
    left: -10px;
}