<div class="main">
  <div class="image">
    <img src="assets/mensshirtimages/shirt3.jpg">
  </div>
  <div class="one-part">
  <span class="name">Anvil L\S Crew Neck - Grey</span><br>
     <span>$22.15</span>
    <div class="details">
      <hr>
     <div class="form-element">
        <label class="select-lebel">Size</label>
      <select>
       <option value="xs">XS</option>
       <option value="s">S</option>
       <option value="m">M</option>
       <option value="xl">XL</option>
       </select>
     <div class="blink"></div>
    </div>
    <div class="form-element">
        <label class="select-lebel">Quantity</label>
     <select>
       <label>Quantity</label>
       <option value="1">1</option>
       <option value="2">2</option>
       <option value="3">3</option>
       <option value="4">4</option>
       <option value="5">5</option>
     </select>
      <div class="blink"></div>
    </div>
     <label class="text-content">Description</label>
     <P>
      You'll be swooning over this crew neck as soon as you feel how soft it is. 
     </P>
     <label class="text-content-light">Features :</label>
     <ul>
       <li>40% preshrunk ring-spun cotton, 60% polyester terry fleece. </li>
       <li>Available in dark heather charcoal with the white Google logo screen printed across center chest.</li>
     </ul>
     <span class="add-btn">
       Add to CART
     </span>
  </div>
</div>
</div>