h1{
    text-align: center;
}

.form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.form-one-part {
    padding: 20px;
    width: 30%;
    height: 35%;
}

.form-another-part{
    padding:20px;
width: 30%;
height: 35%;
}

.form-element{
    margin:5px;
    padding: 35px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: relative;
}
.form-element label{
    color:grey;
}

input, select{
position: absolute;
bottom: 0;
left: 0;
width:100%;
border:none;
outline: none;
border-bottom: 1px solid grey;
}

select{
background-color: transparent;
}

input:focus ~label{
   bottom: 20px;
   font-size: .9em;
}
input:focus ~ .blink{
    width: 100%;
    transition: 0.2s;
    left: 0;
}

select:focus ~.blink{
    width: 100%;
    transition: 0.2s;
    left: 0;
}
label{
    position: absolute;
    bottom: 0;
    pointer-events: none;
    left: 0;
    transition: all ease 0.4s;
}

.blink{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: black;
    transition: 0.1s;
}

.field{
    position: relative;
    bottom:-30px;
    margin-left: 5px;
}

.two-fields{
    width: 103%;
    display: flex;
    justify-content:space-around;
}

.two-fields input{
    width:100%;
    /* flex-basis: 100%; */
}

.select-style {
    position: relative;
    bottom: -60px;
    left:7px;
    font-style: normal;
    color:grey;
}

.table{
    position: relative;
    bottom: -50px;
    display: grid;
    grid-template-columns: 75% 25%;
    justify-items: start;
}
.table span{
    justify-self: end;
}
.table-output{
    bottom:-40px;
}

.place-order-style{
    position: relative;
    bottom: -20px;
    width:50%;
    padding:10px;
    border: 3px solid black;
}

input[type=checkbox]{
  width: 5%;
  margin: 0;
}

.checkbox-design{
    padding:0px;
}

.checkbox-lebel{
    position: relative;
    left: 30px;
    bottom: -35px;
    font-size: 1em;
}

.select-field{
    margin-top:-40px;
}