<h1>Checkout</h1>
<div class="form">
  <div class="form-one-part">
  <div class="form-fields">
  <label class="field">Account Information</label>
    <div class="form-element">
      <input type="email" id="email">
      <label>Email</label>
      <div class="blink"></div>
    </div>
    <div class="form-element">
      <input type="text">
      <label>Phone Number</label>
      <div class="blink"></div>
    </div>
  </div>
  <div class="form-fields">
      <label class="field">Shipping Addresss</label>
        <div class="form-element">
          <input type="text">
          <label>Addresss</label>
          <div class="blink"></div>
        </div>
        <div class="form-element">
          <input type="text">
          <label>city</label>
          <div class="blink"></div>
        </div>
        <div class="two-fields">
            <div class="form-element">
                <input type="text">
                <label>State/Province</label>
                <div class="blink"></div>
              </div>
              <div class="form-element">
                <input type="text">
                <label>Zip/Postal</label>
                <div class="blink"></div>
              </div>
        </div>
      </div>
      <div class="form-fields select-field ">
        <label class="select-style">Country</label>
          <div class="form-element">
            <select>
              <option value="india">India</option>
              <option value="nepal">Nepal</option>
            </select>
            <div class="blink"></div>
          </div>
        </div>
        <div class="form-fields">
            <label class="field">Billing Adderess</label>
            <div class="form-element checkbox-design">
              <input type="checkbox" >
              <div class="checkbox-lebel"> different billing address </div>
            </div>
          </div>
    </div>
    <div class="form-another-part">
        <div class="form-fields">
            <label class="field">Payment Method</label>
              <div class="form-element">
                <input type="text">
                <label>Cardholder Name</label>
                <div class="blink"></div>
              </div>
              <div class="form-element">
                <input type="text">
                <label>Card Number</label>
                <div class="blink"></div>
              </div>
            </div>
            <div class="form-fields select-field">
            <label class="select-style">Expiry</label>
            <div class="two-fields ">
              <div class="form-element">
                  <select>
                    <option value="jan">jan</option>
                    <option value="feb">feb</option>
                  </select>
                  <div class="blink"></div>
                </div>
                <div class="form-element">
                 <select>
                   <option value="2016">2016</option>
                   <option value="2017">2017</option>
                 </select>
                 <div class="blink"></div>
                </div>
                <div class="form-element">
                    <input type="text">
                    <label>CVV</label>
                    <div class="blink"></div>
                  </div>
          </div>  
        </div>
          <div class="form-fields">
              <label class="field">Order summary</label>
                <div class="table">
                  <div>Android Colorblock Hooded Pullover</div>
                  <span>$ 50.20</span>
                  <div>Inbox-Subtle Actions T-shirt</div>
                  <span>$ 50.20</span>
                  <div>Android Colorblock Hooded Pullover</div>
                  <span>$ 50.20</span>
                  <div>Android Colorblock Hooded Pullover</div>
                  <span>$ 50.20</span>
                  <div style="margin-top:20px; margin-bottom: 20px;">Total</div>
                  <span style="margin-top:20px; margin-bottom: 20px;">200.80</span>
                </div>
              </div>
              <div class="form-fields">
                  <div class="place-order-style">PLACE ORDER</div>
              </div> 
    </div>
</div>
