<!-- <h1>SHOP</h1>
<ul class="nav" >
    <li><a href="/">Men's Outerwear</a></li>
    <li><a href="/about/">Ladies Outerwear</a></li>
    <li><a href="/work/">Men's T-shirts</a></li>
    <li><a href="/clients/">Ladies T-Shirt</a></li>
  </ul>
<app-mensoutwear></app-mensoutwear> -->
<!-- <app-checkout></app-checkout> -->
<app-itemdetails></app-itemdetails>