h1 {
  text-align: center;
  font-size: 2em;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  color: red;
}

.nav li {
  display: inline;
}

li:hover{
  text-decoration: underline;
  
}
.nav a {
  display: inline-block;
  padding: 10px;
 
}
.nav a:active {
  border-bottom-left-radius: 1em;
  border-style: solid;
}
.home-img-class {
  height: 400px;
  width: 100%;
}

a{
    color: black;
}
